.model_container {
  width: 886px;
  height: 649px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: white;
  @media (max-width: 600px) {
   width: 100%;
   top: 0px;
   height: 100vh;
   border-radius: 0px;
   
  }
}

.model_contain_container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  margin-left: 55px;
  margin-bottom: 10px;
    @media (max-width: 600px) {
     margin-left: 30px;
     justify-content: flex-end;
     padding-bottom: 40px;
     }
  h2 {
    font-size: 24px;
    padding: 5px;
    margin-bottom: 10px;
    @media (max-width: 600px) {
      font-size: 18px;
     }
  }
  h1 {
    font-size: 36px;
    color: var(--primary);
    padding: 5px;
    margin-top: 5px;
    @media (max-width: 600px) {
     font-size: 30px;
     }
  }
  p {
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 60%;
    @media (max-width: 600px) {
     font-size: 14px;
     width: 90%;
     }
  }
  ul {
    margin-left: 5px;
  }
  button {
    width: 228px;
    height: 50px;

    border: 0px;
    background: var(--primary);
    border-radius: 5px;
    color: white;
    @media (max-width: 600px) {
      width: 185px;
      height: 50px;
      }
  }
}

.shadow {
  position: absolute;
  width: 525px;
  height: 100%;
  top: 0px;
  left: 200px;
  background: linear-gradient(
    90.09deg,
    #ffffff 40.99%,
    rgba(255, 255, 255, 0) 97.41%
  );
  z-index: 1;
  @media (max-width: 600px) {
    transform: rotate(270deg);
  //  width: 100% !important; 
  top: 100px;
  width: 1000px;
  // display: none;
  left: -100px;
  height: 800px;
  background: linear-gradient(
    90.09deg,
    #ffffff 50.99%,
    rgba(255, 255, 255, 0) 97.41%
  );
   }
}

.img {
  position: absolute;
  width: 655px;
  height: 649px;
  top: 0px;
  right: 0px;
}


.right_tick_img{
  position: relative;
  width: 56px;
  height: 56px;
  margin-bottom: 39px;
  margin-left: 3px;
}