.button {
  border: none;
  font-size: 1rem;
  width: auto !important;
  height: auto !important;
  padding: 20px 38px;
  background: var(--light-blue);
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
  border-radius: 30px !important;
  color: white;
  cursor: pointer;
  font-family: var(--font-medium);
  &.fullWidth {
    width: 100% !important;
  }
  &.secondaryColor {
    color: var(--light-blue);
    background: var(--buttonSecondary);
  }
  &.outlinedButton {
    border: 1px solid var(--light-blue);
  }
  @media (max-width: 600px) {
    border-radius: 10px !important;
  }
}
