.header {
  position: fixed;
  top: 0px;
  width: 100% !important;
}

.navigation_header {
  height: auto !important;
  padding: 0px !important;
}

.navigation_navbar {
  padding: 30px 50px;
  max-width: 100% !important;
  @media (max-width: 600px) {
    padding: 20px 25px !important;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
  }
}

.logo {
  position: absolute;
  h1 {
    margin: 32px 0px 0px 84px;
    @media (max-width: 600px) {
      font-size: 20px;

      margin: 13px 0px 0px 25px;
    }
  }
}

.create_account_img {
  position: absolute;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  z-index: -1;

  @media (max-width: 600px) {
    display: none;
  }
}

.create_account_contain_main_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  min-height: 700px;
  overflow: auto;
  @media (max-width: 600px) {
    justify-content: center;
  }
}

.form_content {
  width: 100%;
  max-width: 388px;
  margin-bottom: 50px;
  margin-top: 400px;
  .contain_register {
    width: 100%;
    letter-spacing: 0.02em;
    text-align: center;
  }
  @media (max-width: 600px) {
    margin-top: 300px;
  }
}

.create_account_contain_container {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  // padding-top: 200px;
  // height: 100vh;
  // min-height: 700px;
  justify-content: center;
  background-color: white;

  @media (max-width: 1200px) {
    width: 50%;
  }
  @media (max-width: 600px) {
    width: 100%;
    margin-top: 68px;
    padding: 0px 25px;
  }

  .contain_head_para {
    @media (max-width: 600px) {
      margin: 0px;
    }
    p {
      @media (max-width: 600px) {
        margin: 0px;
        font-size: 16px;
        margin-bottom: 35px;
        width: 300px;
        line-height: 18px;
      }
    }

    h1 {
      font-size: 40px;
      line-height: 120%;
      @media (max-width: 600px) {
        font-size: 30px;
        margin-bottom: 8px;
      }
    }
  }

  p {
    margin-bottom: 40px;
    margin-top: 8px;
  }

  .contain_input {
    display: flex;
    flex-direction: column;
    input {
      // width: 388px;
      height: 50px;
      border: 1px solid #c4c4c4;
      margin-top: 10px;
      border-radius: 10px;
      margin-bottom: 22px;
      padding-left: 20px;

      @media (max-width: 600px) {
        width: 290px;
        height: 45px;
      }
    }

    input:placeholder-shown {
      padding-left: 20px;
    }
  }

  button {
    width: 100%;
    // width: 388px;
    height: 50px;

    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 30px;

    @media (max-width: 600px) {
      width: 290px;
      height: 45px;
    }
  }

  .contain_register {
    margin: 0px;

    text-align: center;
  }
}

.errors_container {
  width: 100%;
  max-width: 388px;
  margin-top: 20px;
  @media (max-width: 600px) {
    width: 100%;
    max-width: unset;
  }
  .message_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--error-primary);
    border-radius: 10px;
    padding: 14px 20px;
    padding-right: 15px;
    opacity: 0;
    transform: translate(0px, 5px);
    animation: bottom-in 0.2s ease forwards;
    margin: 10px 0px;
    margin-bottom: 20px;
    p {
      color: white;
      padding-right: 10px;
      margin: 0px;
      font-size: 14px;
      letter-spacing: 0.02em;
      line-height: 130%;
    }
    .close_icon {
      display: flex;
      min-width: 20px;
      align-items: center;
      justify-content: center;
      svg {
        transform: scale(1.2);
      }
      line {
        stroke: white;
      }
    }
  }
  @media (max-width: 900px) {
    width: 100%;
    .message_container {
      font-size: 14px;
      padding: 15px 15px;
    }
    .close_icon {
      min-width: 30px;
    }
  }
}

.button_container {
  width: 100%;
  max-width: 388px;
  .submit_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .loader_container {
      margin-right: 20px;
      & .MuiCircularProgress-root {
        width: 30px !important;
        height: 30px !important;
      }
    }
    .loader {
      width: 30px !important;
      height: 30px !important;
      color: white;
    }
    &.button_disabled {
      pointer-events: none;
    }
  }
  @media (max-width: 600px) {
    width: 100%;
    .submit_button {
      width: 100%;
    }
  }
}
.submit_button {
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: var(--primary);
  }
  &:focus {
    background: var(--primary);
  }
}

.display_none {
  display: none !important;
}

.verify_phone_container {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bottom-in {
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
