.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menubar ul{
  display: flex;
}

.menubar ul li a{
  margin: 0px 20px 0px 20px;
}

.login_btn{
 display: flex;
 justify-content: flex-end;
}
