.banner_img {
  position: absolute;
  // position: relative;
  z-index: -1;
  // top: 80px;
  width: 100%;
  height: 727px;
  // transform: matrix(-1, 0, 0, 1, 0, 0);
  @media only screen and (max-width: 600px) {
    top: 0px;
    height: 550px;
    // height: calc(100vh - 150px);
  }

  @media (min-width: 1600px) {
    height: 900px;
  }
}

.banner_contain_container {
  display: flex;
  flex-direction: column;
  // width: 40%;
  height: 727px;
  justify-content: center;
  padding-top: 150px;
  // align-items: center;
  padding-left: 90px;
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  width: 50%;
  @media only screen and (max-width: 600px) {
    margin: auto 0px;
    padding-left: 0px;
    // height: calc(100vh - 50px);
    height: 550px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background: none;
    background: linear-gradient(
      0deg,
      #ffffff 41.94%,
      rgba(196, 196, 196, 0) 100%
    );
  }

  @media (min-width: 1600px) {
    height: 900px;
  }

  h1 {
    color: var(--primary);
    line-height: 62px;
    // width: 60%;
    font-size: 48px;
    margin-bottom: 28px;
    @media only screen and (max-width: 600px) {
      font-size: 30px;
      //  width: 80%;
      line-height: 40px;
      margin-bottom: 12px;
    }
  }
  p {
    // width: 50%;
    line-height: 25px;
    @media only screen and (max-width: 600px) {
      font-size: 16px;
    }
  }

  button {
    margin-top: 36px;
    width: 305px;
    height: 53px;

    border: 0px;
    background-color: var(--primary);
    border-radius: 30px;
    @media only screen and (max-width: 600px) {
      margin-top: 25px;
      width: 100%;
      height: 53px;
      border-radius: 10px;
    }
  }
}

.information_item_container {
  margin-top: 40px;

  @media only screen and (max-width: 600px) {
    // padding-left: 20px;
    // padding-right: 20px;
    margin-top: 0px;
  }
}

.banner_button {
  color: white;
  letter-spacing: 0.02em;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.appointment_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
  .item_img {
    position: relative;
    width: 513px;
    height: 347px;
    border-radius: 50px;
    @media only screen and (max-width: 600px) {
      width: 100%;
      height: 203px;
      border-radius: 15px;
      overflow: hidden;
    }
  }
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
  }

  .item_contain {
    width: 508px;
    @media only screen and (max-width: 600px) {
      width: 100%;
      // text-align: center;
    }
    h1 {
      // width: 50%;
      margin-bottom: 20px;
      color: var(--secondary);
      line-height: 130%;
      font-size: 40px;
      @media only screen and (max-width: 600px) {
        width: 100%;
        margin-bottom: 10px;
        font-size: 24px;
        margin-top: 21px;
      }
    }
    p {
      font-size: 16px;
      width: 75%;
      color: var(--light-gray);
      @media only screen and (max-width: 600px) {
        width: 100%;
        font-size: 16px;
      }
    }
  }
}

.team_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
  @media only screen and (max-width: 600px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 50px;
  }

  .item_img {
    position: relative;
    width: 513px;
    height: 347px;
    border-radius: 50px;
    @media only screen and (max-width: 600px) {
      width: 100%;
      height: 203px;
      border-radius: 15px;
      overflow: hidden;
    }
  }

  .item_contain {
    width: 508px;
    @media only screen and (max-width: 600px) {
      width: 100%;
      // text-align: center;
    }
    h1 {
      width: 50%;
      margin-bottom: 20px;
      @media only screen and (max-width: 600px) {
        width: 100%;
        margin-bottom: 10px;
        font-size: 24px;
        margin-top: 21px;
      }
    }
    p {
      font-size: 16px;
      width: 75%;
      color: var(--light-gray);
      @media only screen and (max-width: 600px) {
        width: 100%;
        font-size: 16px;
      }
    }
  }
}

.doorstep_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
  }

  .item_img {
    position: relative;
    width: 513px;
    height: 347px;
    border-radius: 50px;
    @media only screen and (max-width: 600px) {
      width: 100%;
      height: 203px;
      border-radius: 15px;
      overflow: hidden;
    }
  }

  .item_contain {
    width: 508px;
    @media only screen and (max-width: 600px) {
      width: 100%;
      // text-align: center;
    }
    h1 {
      width: 50%;
      margin-bottom: 20px;
      @media only screen and (max-width: 600px) {
        width: 100%;
        margin-bottom: 10px;
        font-size: 24px;
        margin-top: 21px;
      }
    }
    p {
      font-size: 16px;
      width: 75%;
      color: var(--light-gray);
      @media only screen and (max-width: 600px) {
        width: 100%;
        font-size: 16px;
      }
    }
  }
}

.place_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
  @media only screen and (max-width: 600px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 50px;
  }

  .item_img {
    position: relative;
    width: 513px;
    height: 347px;
    border-radius: 50px;
    @media only screen and (max-width: 600px) {
      width: 100%;
      height: 203px;
      border-radius: 15px;
      overflow: hidden;
    }
  }

  .item_contain {
    width: 508px;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
    h1 {
      width: 50%;
      margin-bottom: 20px;
      @media only screen and (max-width: 600px) {
        width: 100%;
        margin-bottom: 10px;
        font-size: 24px;
        margin-top: 21px;
      }
    }
    p {
      font-size: 16px;
      width: 75%;
      color: var(--light-gray);
      @media only screen and (max-width: 600px) {
        width: 100%;
        font-size: 16px;
      }
    }
  }
}

.item_contain {
  width: 508px;
  @media only screen and (max-width: 600px) {
    width: 100%;
    // text-align: center;
  }
  h1 {
    width: 100% !important;
    margin-bottom: 20px;
    color: var(--secondary);
    line-height: 130%;
    font-size: 40px;
    @media only screen and (max-width: 600px) {
      width: 100%;
      margin-bottom: 10px;
      font-size: 24px;
      margin-top: 21px;
    }
  }
  p {
    font-size: 16px;
    width: 75%;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: var(--light-gray);
    @media only screen and (max-width: 600px) {
      width: 100%;
      font-size: 16px;
    }
  }
}

// .item_img {
//   position: relative;
//   width: 513px;
//   height: 347px;
//   border-radius: 50px;
//   @media only screen and (max-width: 600px) {
//     width: 100%;
//     height: 203px;
//     border-radius: 15px;
//     overflow: hidden;
//   }
// }

.specialities_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
  h1 {
    margin-bottom: 6px;
    font-size: 40px;
    line-height: 130%;
    color: var(--secondary);
  }
  p {
    text-align: center;
    line-height: 130%;
    color: var(--light-gray);
  }
  @media only screen and (max-width: 600px) {
    // padding-left: 20px;
    // padding-right: 20px;
    margin-top: 50px;
    align-items: flex-start;
    h1 {
      font-size: 24px;
      line-height: 130%;
      color: var(--secondary);
      margin-bottom: 10px;
    }
    p {
      text-align: start;
    }
  }
}

.specialities_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  @media only screen and (max-width: 600px) {
    margin-top: 50px;
  }
  p {
    width: 50%;
    border-top: 1px solid rgba(114, 115, 118, 0.5);
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
  button {
    width: 396px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgba(114, 115, 118, 0.5);
    @media only screen and (max-width: 600px) {
      width: 325px;
      height: 50px;
    }
  }
}

.move_in_container {
  margin-top: 30px;
  width: 100%;
  background-color: lightblue;
  height: 850px;
  @media only screen and (max-width: 600px) {
    height: 820px;
  }
}

.move_in_top_contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // color: white;
  padding-top: 80px;
  @media only screen and (max-width: 600px) {
    padding-top: 30px;
    margin-bottom: 50px;
  }

  h1 {
    margin: 0px;
    line-height: 130%;
    font-size: 40px;

    @media only screen and (max-width: 600px) {
      font-size: 30px;
    }
  }
  p {
    font-size: 16px;
    margin: 0px;
    width: 40%;
    line-height: 130%;
    text-align: center;
    margin-top: 5px;
    @media only screen and (max-width: 600px) {
      font-size: 18px;
      width: 90%;
    }
  }
}

.move_in_img_contain_container {
  width: 100%;
  display: grid;
  // margin: 40px 0px 0px 150px;
  grid-template-columns: 600px auto;
  justify-content: center;
  margin-top: 50px;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    margin: 20px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    display: block;
  }
}

.move_in_img {
  position: relative;
  width: 600px;
  height: 500px;
  @media only screen and (max-width: 600px) {
    width: 100%;
    height: 200px;
  }
}
.move_in_location_container {
  margin-top: 30px;
  height: 500px;
  // border: 2px solid red;
  @media only screen and (max-width: 600px) {
    margin-left: 15px;
    height: 300px;
  }
}

.santa_clara_square_location {
  margin-left: 90px;

  color: black;
  @media only screen and (max-width: 600px) {
    margin-left: 0px;
  }

  h2 {
    font-weight: 600;
    font-size: 33px;
    margin: 0px;
    margin-bottom: 3px;
    transition: font-size;
    transition-duration: 0.2s;
    transition: font-size 0.4s ease-in-out;
    @media only screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
  p {
    margin: 0px;
    font-size: 17px;
    color: white;
    margin-bottom: 15px;
    visibility: hidden;
    @media only screen and (max-width: 600px) {
      font-size: 15px;
    }
  }
  button {
    background-color: black;
    color: white;
    width: 125px;
    height: 40px;
    border-radius: 35px;
    border: 2px solid black;
    visibility: hidden;
  }
}

.santa_clara_square_location:hover {
  height: 215px;
  h2 {
    font-size: 45px;
    color: white;
    font-weight: 700;
    @media only screen and (max-width: 600px) {
      font-size: 25px;
    }
  }
  p {
    visibility: visible;
  }

  button {
    visibility: visible;
  }
}

.san_pedro_square_location {
  margin-left: 90px;
  margin-top: -65px;
  color: black;
  @media only screen and (max-width: 600px) {
    margin-left: 0px;
  }

  h2 {
    font-weight: 600;
    font-size: 33px;
    margin: 0px;
    margin-bottom: 3px;
    transition: font-size;
    transition-duration: 0.2s;
    transition: font-size 0.4s ease-in-out;
    @media only screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
  p {
    margin: 0px;
    font-size: 17px;
    color: white;
    margin-bottom: 15px;
    visibility: hidden;
    @media only screen and (max-width: 600px) {
      font-size: 15px;
    }
  }
  button {
    background-color: black;
    color: white;
    width: 125px;
    height: 40px;
    border-radius: 35px;
    border: 2px solid black;
    visibility: hidden;
  }
}

.san_pedro_square_location:hover {
  height: 215px;
  h2 {
    font-size: 45px;
    color: white;
    font-weight: 700;
    @media only screen and (max-width: 600px) {
      font-size: 25px;
    }
  }
  p {
    visibility: visible;
  }

  button {
    visibility: visible;
  }
}

.almaden_ranch_location {
  margin-left: 90px;
  margin-top: -65px;
  color: black;
  @media only screen and (max-width: 600px) {
    margin-left: 0px;
  }

  h2 {
    font-weight: 600;
    font-size: 33px;
    margin: 0px;
    margin-bottom: 3px;
    transition: font-size;
    transition-duration: 0.2s;
    transition: font-size 0.4s ease-in-out;
    @media only screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
  p {
    margin: 0px;
    font-size: 17px;
    color: white;
    margin-bottom: 15px;
    visibility: hidden;
    @media only screen and (max-width: 600px) {
      font-size: 15px;
    }
  }
  button {
    background-color: black;
    color: white;
    width: 125px;
    height: 40px;
    border-radius: 35px;
    border: 2px solid black;
    visibility: hidden;
  }
}

.almaden_ranch_location:hover {
  height: 215px;
  h2 {
    font-size: 45px;
    color: white;
    font-weight: 700;
    @media only screen and (max-width: 600px) {
      font-size: 25px;
    }
  }
  p {
    visibility: visible;
  }

  button {
    visibility: visible;
  }
}

.hillsdale_mall_location {
  @media only screen and (max-width: 600px) {
    margin-left: 0px;
  }
  margin-left: 90px;
  margin-top: -65px;
  color: black;

  h2 {
    font-weight: 600;
    font-size: 33px;
    margin: 0px;
    margin-bottom: 3px;
    transition: font-size;
    transition-duration: 0.2s;
    transition: font-size 0.4s ease-in-out;
    @media only screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
  p {
    margin: 0px;
    font-size: 17px;
    color: white;
    margin-bottom: 15px;
    visibility: hidden;
    @media only screen and (max-width: 600px) {
      font-size: 15px;
    }
  }
  button {
    background-color: black;
    color: white;
    width: 125px;
    height: 40px;
    border-radius: 35px;
    border: 2px solid black;
    visibility: hidden;
  }
}

.hillsdale_mall_location:hover {
  height: 215px;
  h2 {
    font-size: 45px;
    color: white;
    font-weight: 700;
    @media only screen and (max-width: 600px) {
      font-size: 25px;
    }
  }
  p {
    visibility: visible;
  }

  button {
    visibility: visible;
  }
}

.redwood_plaza_location {
  margin-left: 90px;
  color: black;
  margin-top: -65px;
  @media only screen and (max-width: 600px) {
    margin-left: 0px;
  }

  h2 {
    font-weight: 600;
    font-size: 33px;
    margin: 0px;
    margin-bottom: 3px;
    transition: font-size;
    transition-duration: 0.2s;
    transition: font-size 0.4s ease-in-out;
    @media only screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
  p {
    margin: 0px;
    font-size: 17px;
    color: white;
    margin-bottom: 15px;
    visibility: hidden;
    @media only screen and (max-width: 600px) {
      font-size: 15px;
    }
  }
  button {
    background-color: black;
    color: white;
    width: 125px;
    height: 40px;
    border-radius: 35px;
    border: 2px solid black;
    visibility: hidden;
  }
}

.redwood_plaza_location:hover {
  height: 215px;
  h2 {
    font-size: 45px;
    color: white;
    font-weight: 700;
    @media only screen and (max-width: 600px) {
      font-size: 25px;
    }
  }
  p {
    visibility: visible;
  }

  button {
    visibility: visible;
  }
}

.grand_plaza_location {
  @media only screen and (max-width: 600px) {
    margin-left: 0px;
  }
  margin-left: 90px;
  color: black;

  margin-top: -65px;
  h2 {
    font-weight: 600;
    font-size: 33px;
    margin: 0px;
    margin-bottom: 3px;
    transition: font-size;
    transition-duration: 0.2s;
    transition: font-size 0.4s ease-in-out;
    @media only screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
  p {
    margin: 0px;
    font-size: 17px;
    color: white;
    margin-bottom: 15px;
    visibility: hidden;
    @media only screen and (max-width: 600px) {
      font-size: 15px;
    }
  }
  button {
    background-color: black;
    color: white;
    width: 125px;
    height: 40px;
    border-radius: 35px;
    border: 2px solid black;
    visibility: hidden;
  }
}

.grand_plaza_location:hover {
  height: 215px;
  h2 {
    font-size: 45px;
    color: white;
    font-weight: 700;
    @media only screen and (max-width: 600px) {
      font-size: 25px;
    }
  }
  p {
    visibility: visible;
  }

  button {
    visibility: visible;
  }
}

.phone_app_container {
  display: flex;
  margin-top: 50px;
  @media only screen and (max-width: 600px) {
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
}

.phone_app_img {
  margin-left: 100px;
  position: relative;
  width: 650px;
  height: 1000px;

  @media only screen and (max-width: 600px) {
    height: 800px;
    display: none;
  }
}

.mobile_phone_used_img {
  width: 110px;
  position: absolute;
  height: 200px;
  margin-left: 0px;
  // margin-bottom: 10px;
  visibility: hidden;
  @media only screen and (max-width: 600px) {
    visibility: visible;
    margin-left: -70px;
  }
}

.phone_app_top_contain {
  margin: 80px 0px 0px 80px;
  @media only screen and (max-width: 600px) {
    margin: 50px 0px 0px 0px;
  }
  h1 {
    width: 70%;
    margin-bottom: 20px;
    @media only screen and (max-width: 600px) {
      font-size: 22px;
      width: 100%;
      text-align: center;
      margin: 0px;
    }
  }

  p {
    margin-top: 20px;
    @media only screen and (max-width: 600px) {
      font-size: 12px;
      text-align: center;
      margin-top: 10px;
      padding: 10px 30px 0px 30px;
    }
  }
}

.mobile_no_contain {
  display: flex;
  input:placeholder-shown {
    padding-left: 20px;
  }
  @media only screen and (max-width: 600px) {
    align-items: center;
    justify-content: center;
  }

  input {
    width: 220px;
    height: 48px;
    border-radius: 8px;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
  button {
    background-color: var(--light-blue);
    color: black;
    font-weight: bold;
    border: 0px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-left: 20px;
    @media only screen and (max-width: 600px) {
      font-weight: lighter;
      width: 150px;
      height: 35px;
      border-radius: 30px;
      margin-left: 0px;
      text-align: center;
      margin-top: 20px;
    }
  }
}

.phone_app_bottom_contain {
  margin: 60px 0px 0px 80px;

  @media only screen and (max-width: 600px) {
    margin: 0px 0px 0px 80px;
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 280px;
  }
  span {
    color: var(--light-blue);
    font-size: 50px;
    margin-right: 15px;
    @media only screen and (max-width: 600px) {
      font-size: 20px;
      display: none;
    }
  }
  p {
    font-size: 25px;
    margin-top: 0px;
    @media only screen and (max-width: 600px) {
      font-size: 15px;
      text-align: start;
      margin-bottom: 20px;
      border-bottom: 1px dotted black;
      // width: 50%;
      // border: 2px solid red;
      color: var(--light-blue);
    }
  }
}

.mobile_point {
  @media only screen and (max-width: 600px) {
    padding: 10px 10px 0px 50px;
  }
}

.covid_img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1100px;
  @media only screen and (max-width: 600px) {
    height: 780px;
  }
}

.covid_contain_container {
  height: 1100px;
  @media only screen and (max-width: 600px) {
    height: 750px;
  }
}

.covid_top_contain {
  padding: 150px 0px 0px 150px;
  color: white;
  width: 45%;

  @media only screen and (max-width: 600px) {
    width: 100%;
    padding: 0px;
    padding: 80px 20px 0px 30px;
  }
  p {
    @media only screen and (max-width: 600px) {
      margin: 0px;
      font-size: 13px;
    }
  }
  h1 {
    @media only screen and (max-width: 600px) {
      margin: 0px;
      font-size: 22px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
  button {
    width: 200px;
    height: 50px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 30px;
    color: white;
    @media only screen and (max-width: 600px) {
      width: 200px;
      height: 35px;
    }
  }
}

.covid_bottom_contain {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 350px;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    padding: 0px 20px 0px 30px;
    margin-top: 70px;
  }

  p {
    @media only screen and (max-width: 600px) {
      font-size: 15px;
      margin: 0px;
      margin-top: 35px;
    }
  }
  h1 {
    @media only screen and (max-width: 600px) {
      font-size: 20px;
      margin: 0px;
      // margin-top: 30px;
    }
  }
}

.covid_bottom_right {
  h1 {
    width: 400px;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }
}

.specialities_section {
  margin-bottom: 100px;
}

.move_in_content {
  h2 {
    margin-bottom: 15px;
  }
}
