.container {
  // margin-bottom: 100px;
}

.heading {
  text-align: center;
  font-size: 30px;
  span {
    color: var(--light-blue);
  }
  p {
    font-size: 16px;
    margin-top: 13px;
    line-height: 25px;
    margin-bottom: 50px;
  }
  @media (max-width: 700px) {
    font-size: 23px !important;
    text-align: start;
    h2 {
      font-size: 30px !important;
    }
    p {
      font-size: 14px;
      margin-bottom: 40px;
    }
  }
}

.investment_form_content {
  margin-top: 100px;
  opacity: 0;
  animation: fade-in 0.4s ease forwards;
  @media (max-width: 700px) {
    margin-top: 60px;
  }
}

.investment_form {
  display: grid;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  justify-content: space-between;
  @media (max-width: 700px) {
    grid-template-columns: 100%;
  }
}

.input_container {
  max-width: 388px;
  &:nth-child(odd) {
    justify-self: end;
    width: 100%;
  }
  &:nth-child(5) {
    justify-self: center;
    width: 100%;
  }
  @media (max-width: 700px) {
    max-width: unset;
    width: 100% !important;
  }
}

.amount_input {
  display: grid;
  grid-template-columns: calc(50% - 15px);
  justify-content: center;
  & .input_container {
    justify-self: center;
    margin-top: 30px;
  }
  @media (max-width: 700px) {
    grid-template-columns: 100%;
    & .input_container {
      margin-top: 0px !important;
    }
  }
}

.or_seperator {
  margin-top: 30px;
  text-align: center;
  @media (max-width: 700px) {
    margin-top: 20px !important;
  }
}

.subtext {
  margin-top: 15px;
}

.amount_blocks {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .amount_block {
    font-family: var(--font-regular);
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
    max-width: fit-content;
    background: #ffffff;
    border-radius: 10px;
    padding: 15px 50px;
    font-size: 20px;
    min-width: 200px;
    // max-width: 166px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    white-space: nowrap;
    &:hover {
      background: var(--light-blue);
      color: white;
    }
    &.selected {
      background: var(--light-blue) !important;
      color: white !important;
    }
  }
  @media (max-width: 700px) {
    flex-wrap: wrap;

    .amount_block {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: unset;
      max-width: none;
      width: calc(50% - 20px) !important;
      font-size: 16px;
    }
  }
}

.button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .submit_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 388px;
    .loader_container {
      margin-right: 20px;
      & .MuiCircularProgress-root {
        width: 30px !important;
        height: 30px !important;
      }
    }
    .loader {
      width: 30px !important;
      height: 30px !important;
      color: white;
    }
    &.button_disabled {
      pointer-events: none;
    }
  }
  @media (max-width: 600px) {
    width: 100%;
    .submit_button {
      width: 100%;
    }
  }
}
.submit_button {
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
  background: var(--light-blue);
  border-radius: 10px;
  width: 388px;
  font-family: var(--font-medium);
  color: white;
  height: 50px;
  font-size: 16px;
  &:hover,
  &:focus {
    background: var(--secondary);
  }
}

.display_none {
  display: none !important;
}

.image_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.right_tick_img {
  position: relative;
  width: 56px;
  height: 56px;
  margin-bottom: 39px;
  margin-left: 3px;
}

.success_container {
  opacity: 0;
  animation: fade-in 0.4s ease 0.2s forwards;
}

.success_title {
  font-family: var(--font-semibold);
  text-align: center;
  line-height: 130%;
  color: var(--primary);
}

.payment_details {
  max-width: 400px;
  margin: auto;
  margin-top: 60px;
}

.details_row {
  display: flex;
  justify-content: space-between;
  p {
    font-family: var(--font-regular);
    color: var(--secondary);
    margin-bottom: 15px;
  }
}

.buttons_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  button {
    font-family: var(--font-regular);
    font-size: 16px;
    border: none;
    background: #ffffff;
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
  }
  .print_button {
    margin-right: 20px;
    color: var(--primary);
  }
  .back_button {
    background: var(--primary);
    color: white;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    button {
      width: 100%;
      border-radius: 35px;
    }
    .back_button {
      margin-top: 20px;
    }
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
