.main_container{
    display: flex;
    flex-wrap: wrap;
    // margin: 10px;
   
    justify-content: space-between;
   align-items: center;
}



.investor_list_main_container {
  width: 600px;
  height: 166px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex; 
//   margin-bottom: 30px;
//   margin: auto;
  margin-bottom: 30px;
//   margin-left: 5px;
@media only screen and (max-width:1280px) {
    width: 550px;
  }
  @media only screen and (max-width: 1200px) {
    margin: auto;
    margin-bottom: 30px;
  }
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.investor_img_container {
  position: relative;
  width: 166px;
  height: 166px;
  border-radius: 10px 0px 10px 0px;
  overflow: hidden;
}

.investor_contain_container {
  display: flex;
  justify-content: space-between;
  width: 434px;

  margin: 14px 14px 10px 10px;

  .investor_contain_right {
    padding: 10px;
    .investor_contain_right_name {
      color: var(--primary);
      margin-bottom: 16px;
    }
    .investor_contain_right_email {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
    
    }
    .investor_contain_right_number {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
    }
    .investor_contain_right_date{
        display: flex;
        align-items: center;
    }

    span {
      margin-left: 20px;
    }
  }
  .investor_contain_left {
    padding: 10px;
    text-align: end;
    .investor_contain_left_invested {
      color: var(--primary);
      margin-bottom: 16px;
    }
    .investor_contain_left_ruppy {
      margin-bottom: 30px;
    }
    .investor_contain_left_more {
      color: var(--primary);
      border-bottom: 2px solid var(--primary);
    }
  }
}




.mobile_investor_list_main_container{
   
width: 340px;
height: 309px;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
border-radius: 10px;
margin: 10px;
margin: auto;
margin-bottom: 30px;
@media only screen and (min-width: 600px) {
    display: none;
  }
  @media only screen and (max-width: 400px) {
    width: 280px;
  }
}

  


.mobile_investor_img_container{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.mobile_top_contain_img_container{
    display: flex;
    margin:  0px 20px 0px 20px;
    // padding: 10px 10px 15px 20px;
    padding: 20px 0px 20px 0px;
    justify-content: space-between;
    border-bottom: 2px solid   #E1E1E1;;

    .mobile_investor_top_contain{
        text-align: end;
      .mobile_investor_contain_top_invested{
          color: var(--light-blue);
          margin-bottom: 15px;
          margin-top: 10px;
      }  
      .mobile_investor_contain_top_ruppy{
          margin-bottom: 15px;
      }
      .mobile_investor_contain_top_more{
        color: var(--light-blue);
        border-bottom: 2px solid var(--light-blue);
      }

    }
}

.mobile_investor_bottom_contain_container{
    margin: 10px;
    padding: 10px;
    .icon{
        margin-left: 20px;
    }
    .mobile_investor_contain_bottom_name{
        color: var(--light-blue);
        margin-bottom: 15px;
      
    }
    .mobile_investor_contain_bottom_email{
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }
    .mobile_investor_contain_bottom_number{
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }
    .mobile_investor_contain_bottom_date{
        display: flex;
        align-items: center;
    }
}

