.main_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    // align-items: center;
    margin-top: 30px;
    // border: 2px solid red;
    width: 500px;
    margin: 25px auto;
    // text-align: center;
}

.location_contain{
    
    h2{
        margin: 0px;
        margin-bottom: 8px;
        font-size: 20px;
    }
    p{
        margin: 0px;
        font-size: 15px;
        color: gray;
    }
}

.care_contain{
    margin-top: 20px;
    // width: 500px;
    // border: 2px solid red;
  
   
    button{
        background-color: black;
        color: white;
        width: 100px;
        height: 45px;
        border-radius: 35px;
        border: 2px solid black;
        font-weight: bold;
       
        margin-top: 10px;
    }
}

.care_contain_item{
    display: flex;
    // margin-left: -100px;
   

}

.care_contain_item_point{
    color: green;
    font-size: 20px;
    margin: 0px;
    margin-top: -5px;
 
}

.care_contain_item_item_name{
    font-weight: 600;
    margin: 0px;
}

.care_contain_item_date{
    font-size: 14px;
    margin: 0px;
    color: gray;
}


.dot{
    color: green;
    margin-top: 20px;
    margin-left: -100px;
}