.auto_complete_container {
  width: 100%;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  .input_container {
    display: flex;
    background: #f8f8f8;
    justify-content: space-between;
    border: 2px solid #dcdcdc;
    border-radius: 20px;
    height: 60px;
    input {
      width: 80%;
      height: 100%;
      border: none;
      outline: none;
      border-radius: 20px;
      padding: 0px 30px;
      font-size: 1rem;
      background: transparent;
      font-family: var(--font-regular);
      &::-webkit-input-placeholder {
        /* Edge */
        opacity: 0.5;
      }
    }
    .caret {
      padding: 0px 30px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      line-height: 120%;
      text-align: right;
      color: #000000;
      opacity: 0.4;
      svg {
        // width: 15px;
        // height: 15px;
        font-size: 25px;
      }
    }
  }
  .options_outer_container {
    width: 100%;
    border-radius: 20px !important;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    max-height: 0px;
    position: absolute;
    top: 65px;
    z-index: 1;
    transition: all 0.2s ease;
    &.open {
      max-height: 300px !important;
    }
    @media (max-width: 600px) {
      // top: 0px;
      // transform: translateY(-100%);
    }
  }
  .options_container {
    width: 100%;
    border-radius: 20px !important;
    list-style-type: none;
    overflow-y: scroll;
    transition: all 0.2s ease;
    max-height: 300px;
    &::-webkit-scrollbar {
      width: 4px;
      padding: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--primary);
      border-radius: 1.88108px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .option {
      display: flex;
      justify-content: space-between;
      padding: 20px 23px;
      border-bottom: 1px solid #dcdcdc;
      .right_tick {
        display: none;
        transform: scale(0);
        transition: all 0.2s ease;
        svg {
          fill: var(--secondary) !important;
        }
      }
      &:hover {
        background: rgba(235, 162, 5, 0.2);
      }

      &.selected_option {
        background: rgba(235, 162, 5, 0.2);
        .right_tick {
          display: block !important;
          transform: scale(1) !important;
        }
      }
    }
  }
}
