.header {
    background-color: transparent;
    // position: sticky;
    top: 0px;
    
  }
  
  .header:hover {
    background-color: white;
    .menubar ul li a {
      margin: 0px 20px 0px 20px;
      color: black;
    }
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    
    
  }
  .logo a {
    color: orange;
  }
  
  .menubar ul {
    display: flex;
    @media only screen and (max-width: 600px) {
      display: none;
    }
    
  }
  
  .menubar ul li a {
    margin: 0px 20px 0px 20px;
    color: white;
  }
  
  .login_btn {
    display: flex;
    justify-content: flex-end;
  
    margin-right: 100px;
  }
  
  .login_btn button {
    background-color: orange;
   border: none;
    border-radius: 30px;
    width: 110px;
    height: 50px;
    color: white;
   
  }
  