.specialities_item_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // width: 90%;
    // margin-top: 100px;
    align-items: center;
  }
  
  .specialities_item_img{
    position: relative;
    width: 84px;
  height: 130px;
  @media only screen and (max-width: 600px) {
    width: 62px;
    height: 96px;
      }
  }
  
  .specialities_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    
    // border: 2px solid red;
    .specialities_item_contain{
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        margin-bottom: 5px;
        font-size: 25px;
      }
      p{
        width: 80%;
        text-align: center;
        font-size: 16px;
        color:var(--light-gray)
      }
    }
  }